<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/script/script.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-lg bg-dark bg-gradient text-white">
        <div class="container-fluid ms-5">
            <a class="navbar-brand text-white" th:href="@{/bienvenida}"><img th:src="@{/css/assets/logo.webp}" class="logo" alt="logo bikerconnect"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
                <ul class="navbar-nav me-5 ms-auto">
                    <li class="nav-item me-3">
                        <form th:action="@{/auth/cerrar-sesion}" method="post" id="logoutForm">
							<button type="button" class="btn buttonPrincipal" onclick="confirmarLogout()"><i class="bi bi-box-arrow-in-left"> Cerrar sesión</i></button>
						</form>
                    </li>               
                </ul>
            </div>
        </div>
    </nav>
    
    <h3 class="text-light text-center mt-5">Bienvenido <span th:text="${nombreUsuario}">usuario</span></h3>
	<script th:if="${not #strings.isEmpty(credencialesCorrectas)}">
	    mostrarNotificacion("¡Inicio de sesión correcto!", "Sa ha accedido a su cuenta de usuario", 'success');
	</script>
</body>
</html>