<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Detalle de Quedada</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/script/script.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark bg-gradient text-white w-100">
        <div class="container-fluid ms-5">
            <a class="navbar-brand text-white" th:href="@{/bienvenida}"><img th:src="@{/css/assets/logo.webp}" class="logo" alt="logo bikerconnect"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
                <ul class="navbar-nav me-5 ms-auto">
                    <li class="nav-item me-3">
                        <a class="nav-link fw-bold text-white" th:href="@{/privada/quedadas}"><i class="bi bi-people-fill fs-5"> Quedadas</i></a>
                    </li>         
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-4">
		<div class="card bg-light cardPrincipal">
			<div class="card-header border-bottom border-3"><h3 class="subtituloSecundario">Detalles de la Quedada</h3></div>
			<div class="card-body" >
				<div class="row">
            		<div class="col-md-6">
		                <p><strong>Lugar:</strong> <span th:text="${quedada.lugar}"></span></p>
		                <p><strong>Fecha y Hora:</strong> <span th:text="${#dates.format(quedada.fechaHora, 'dd/MM/yyyy HH:mm')}"></span></p>
		                <p><strong>Organizador:</strong> <span th:text="${quedada.usuarioOrganizador}"></span></p>
		            </div>
		            <div class="col-md-6">
		                <p><strong>Estado:</strong> <span th:text="${quedada.estado}"></span></p>
		                <p><strong>Descripción:</strong> <span th:text="${quedada.descripcion}"></span></p>
		            </div>
		            <div class="col-md-6">
					    <p><strong>Asistentes:</strong></p>
<!-- 					    <ul> -->
<!-- 					        <li th:each="asistente : ${quedada.usuariosParticipantes}"> -->
<!-- 					            <p> -->
<!-- 					                <strong>Nombre:</strong> <span th:text="${asistente.nombre}"></span><br/> -->
<!-- 					                <strong>Moto:</strong> <span th:text="${asistente.moto}"></span> -->
<!-- 					            </p> -->
<!-- 					        </li> -->
<!-- 					        <li> -->
<!-- 					            <p> -->
<!-- 					                <strong>Nombre:</strong> <span >Juan</span> -  -->
<!-- 					                <strong>Moto:</strong> <span > Kawasaki</span> -->
<!-- 					            </p> -->
<!-- 					        </li> -->
<!-- 					    </ul> -->
					</div>
        		</div>
			</div>
			<div class="card-footer">
				<a th:href="@{/privada/quedadas/detalle-quedada/unirse/} + ${quedada.id}" class="btn buttonPrincipal m-1"><i class="bi bi-plus-circle"> Asistir a la Quedada</i></a>
			</div>
		</div>
	</div>
	<div class="vg-footer bg-dark bg-gradient">
		<div class="container d-flex justify-content-between align-items-center">
		  <a class="navbar-brand text-white" href="#" style="pointer-events: none;"><img th:src="@{/css/assets/logo.webp}" class="logo" alt="logo bikerconnect" style="width: 130px;"></a>     
		  <p class="text-center mb-0 mt-1">Copyright © 2024 - BikerConnect Todos los Derechos Reservados</p>
		  <ul class="nav list-unstyled d-flex">
		    <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-twitter-x fs-4"></i></a></li>
		    <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-facebook fs-4"></i></a></li>
		    <li class="ms-3"><a class="text-white" href="#"><i class="bi bi-instagram fs-4"></i></a></li>
		  </ul>
		</div>
    </div>
</body>
</html>